body{
    background-color: #74dcf682;
    color: #343a40;
    font-family: Arial, sans-serif;
}
nav{
    background-color: #4584c3;
    color: #343a40;
}

navbar-brand {
    color: #343a40;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.card-body {
    border-radius: 10px !important;
    background-color: #f4f4f4 !important;
    border:2px solid  #4584c3 ! important;
    display: inline-block;
}

.custom-title {
    border-radius: 10px;
    border: 2px solid #007bff;
    color: #333;
}

.custom-description {
    border-radius: 8px;
    border: 2px solid #28a745;
}
.custom-description:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}
